body {
    color: hsla(0, 0, 42, 1); //#6B6B6B
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

a {text-decoration: none;}

th {
    text-align: left;
}

td {
    min-width: 12rem;
}
td.type-icon {
    min-width: 0;
}

#listing img {
    max-height: 1.5rem;
}